<html>
    <head>
        <title>Mary's Blog</title>
    </head>
    
    <body>
        
        <div>
            
            <h1>Mary Mary, Quite Contrary</h1>
            <h2>How do your squirrels code?</h2>
            <p>published: 2.07.2016, 16:15</p>

        </div>
        
        <div>
            <p>Mary Mary, quite contrary,</p>
            <p>How do your squirrels code?</p>
            <p>With Html and <em>Django girls</em></p>
            <p>Building websites all in a row.</p>

            <p>Hi there folks. I'm with some squirrels and badgers here at Django Girls for Django BNE 2016, coding up a storm. If you are a lady squirrel and curious about technology, but have never stpped into the scary technology forest, no fear. Check us out <a href="https://djangogirls.org">here</a>. 
        </div>

    </body>
</html>